@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}
  
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.for__mobile {
    display: none;
}

.header {
    background: url(image/welcome_stars_right.svg) 121% 100%,
    url(image/welcom_stars_right_bottom.svg) 66% 78%,
    url(image/welcom_stars_left_top.svg) 19% 10%;
    background-color: rgb(225, 255, 143);
    background-repeat: no-repeat;
}

.welcom {
    height: 710px;

    &__title {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 196px;
        padding-bottom: 24px;
    }

    &__descr {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 48px;
    }

    &__button {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;

        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        padding: 16px;
    }

    &__button:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: 0.5s;
    }

    .welcom__button-text {
        color: rgb(255, 255, 255);
    }

    .welcom__button-text:hover {
        color: rgb(0, 0, 0);
    }
}

.lane {
    background: rgb(188, 236, 48);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 51px;
    padding-left: 15px;
    height: 90px;

    &__title {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
        padding-top: 27px;
    }

    &__img {
        height: 36px;
        width: 36px;
        padding-top: 27px;
    }
}

.first {
    background-repeat: no-repeat;
    background-color: rgb(32, 32, 39);
    background-image: url(image/first.svg);
    background-position: 68% 11%;
    background-size: auto;
    padding-bottom: 50px;
}

.about {
    padding-top: 94px;
    padding-bottom: 60px;
    position: relative;
    z-index: 2;

    &__title {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__descr {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
    }
}

.game {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;

    &__column {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }  

    &__img {
        border-radius: 30px;
        width: 378px;
    }

    &__item {
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-radius: 30px;
        width: 378px;
    }

    &__item:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }

    &__inf {
        padding-top: 32px;
        padding-bottom: 36px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__numbre {
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        padding: 8px 16px 10px 16px;

        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        width: 80px;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.second {
    background-color: rgb(32, 32, 39);
    background-image: url(image/second.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 82% 65%;
}

.mini {
    &__title {
        padding-top: 40px;
        padding-bottom: 72px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.play {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 138px;

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #FFFFFF;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-radius: 30px;
    }

    &__link_revers {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        background: #FFFFFF;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-radius: 30px;
    }

    &__pack {
        padding-top: 48px;
        padding-left: 48px;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 24px;
    }

    &__descr {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 36px;
    }

    &__button {
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        padding: 16px 28px 16px 28px;

        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }

    &__button:hover {
        background: rgb(255, 255, 255);
        color: rgb(32, 32, 39);
        transition: 0.5s;
    }
}

.footer {
    height: 150px;
    background: rgb(189, 237, 53);

    &__title {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 61px;
    }
}

@import 'mobile';