* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

.for__mobile {
  display: none;
}

.welcom {
  height: 710px;
  background-repeat: no-repeat;
  background: rgb(225, 255, 143);
  background-position: center;
  background-size: cover;
  z-index: 2;
  /* &__descr-mobile {
      display: none;
  } */
}
.welcom__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 196px;
  padding-bottom: 24px;
}
.welcom__descr {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 48px;
}
.welcom__button {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px;
}
.welcom__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.welcom .welcom__button-text {
  color: rgb(255, 255, 255);
}
.welcom .welcom__button-text:hover {
  color: rgb(0, 0, 0);
}

.stars {
  z-index: 1;
}
.stars__right {
  position: absolute;
  left: 59.5%;
  top: -29.5%;
  transform: rotate(360deg);
  z-index: 1;
}
.stars__two {
  position: absolute;
  top: 8.5%;
  left: 4.5%;
}
.stars__tree {
  position: absolute;
  top: 6.3%;
  left: 10.8%;
}
.stars__for {
  position: absolute;
  top: 50.5%;
  left: 70.5%;
}
.stars__five {
  position: absolute;
  top: 48%;
  left: 65.8%;
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.lane {
  /* background-repeat: no-repeat; */
  background: rgb(188, 236, 48);
  background-position: center;
  background-size: cover;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 51px;
  padding-top: 27px;
  padding-left: 15px;
  padding-bottom: 13px;
  position: relative;
}
.lane__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.lane__img {
  height: 36px;
  width: 36px;
}

.first {
  height: 1470px;
  background-repeat: no-repeat;
  background: rgb(32, 32, 39);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
}

.first__star {
  z-index: 1;
}

.star__eleven {
  position: absolute;
  left: 2%;
  top: 52.5%;
}

.star__twelve {
  position: absolute;
  top: 56%;
  left: 3%;
}

.star__one {
  position: absolute;
  top: 7.5%;
  left: 68.3%;
}

.about {
  padding-top: 94px;
  padding-bottom: 72px;
  position: relative;
  z-index: 2;
}
.about__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.about__descr {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}

.game {
  /* display: grid;
  gap: 32px;
  grid-template-columns: repeat(15, 1fr); */
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.game__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.game__img {
  border-radius: 30px;
  width: 378px;
}
.game__item {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 30px;
  width: 378px;
  /* height: 473px; */
  /* grid-row: span 7; */
}
.game__item:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.game__inf {
  padding-top: 32px;
  padding-bottom: 36px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.game__numbre {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  /* text-align: left; */
  width: 108px;
  /* height: 36px; */
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-around;
}
.game__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 16px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .welcom {
    height: 649px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcom__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 147px;
  }
  .welcom__descr {
    display: none;
  }
  .welcom__descr-mobile {
    display: block;
    padding-bottom: 36px;
  }
  .welcom__descr-mob {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .welcom__button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    width: 285px;
    height: 55px;
  }
  .stars {
    display: none;
  }
  .stars__mobile {
    display: block;
  }
  .stars__mobile-right {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 57.5%;
  }
  .stars__mobile-two {
    position: absolute;
    z-index: 1;
    top: 16%;
    left: 10.5%;
  }
  .stars__mobile-tree {
    position: absolute;
    z-index: 1;
    top: 10.5%;
    left: 24.5%;
  }
  .stars__mobile-for {
    position: absolute;
    z-index: 1;
    top: 95.5%;
    left: 81%;
  }
  .stars__mobile-five {
    position: absolute;
    z-index: 1;
    top: 92%;
    left: 73%;
  }
  .lane {
    padding-left: 24px;
    padding-right: 24px;
    gap: 27px;
  }
  .lane__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }
  .lane__img {
    width: 19px;
    height: 19px;
  }
  .first {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */